@model ApplicationCore.Models.CabDetailsResponseModel

@{ 
    ViewData["Title"] = "Detail Page";
}

<div class="detail-page">
    <div class="container">
        <div class="row">
            <div class="col">
                @foreach (var bookings in Model.Bookings)
                {
                    <div>
                        <div class="card border-primary mb-3" style="max-width: 20rem;">
                            @*<div class="card-header">@bookings.Landmark</div>*@
                            <div class="card-body">
                                <h2 class="modal-header">Bookings</h2>
                                <p class="card-text">@bookings.PickupAddress</p>
                                <p class="card-text">@bookings.Status</p>
                                <p class="card-text">@bookings.PickupDate</p>
                                <p class="card-text">@bookings.ToPlace</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col">
                @foreach (var places in Model.Places)
                {
                    <div>
                        <div class="card border-primary mb-3" style="max-width: 20rem;">
                            <div class="card-header">@places.Name</div>
                            <div class="card-body">
                                <p class="card-text">@places.Id</p>
                            </div>
                        </div>
                    </div>


                }
            </div>
        </div>
        @*<div class="row">
            <div class="col">
                1 of 3
            </div>
            <div class="col">
                2 of 3
            </div>
            <div class="col">
                3 of 3
            </div>
        </div>*@
    </div>
</div>
